* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: $fontSizeBase;
}

h1, h2, h3, h4, h5, h6, p, li {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  display: inline-block;
  width: 250px;
  max-width: 100%;
}

ul, ol {
  list-style-position: inside;
}

code {
  display: inline-block;
  padding: 0 0.25rem;
  background: $colorPrimary;
  color: $colorLight;
}

hr {
  display: block;
  width: 100%;
  height: 0.125rem;
  margin: 2rem 0;
  border: none;
  outline: none;
  background: $colorDark;
}

textarea {
  display: block;
  min-width: 100%;
  max-width: 100%;
  min-height: 4rem;
  padding: 0.5rem;
  border: 2px solid $colorPrimary;
  outline: none;
  background: #FFFFFF;
  border-radius: 0;
}