// Colors

$colorLight: hsla(210, 100%, 98%, 1);
$colorDark: hsla(210, 100%, 10%, 1);
$colorPrimary: hsla(210, 100%, 40%, 1);
$colorSecondary: hsla(180, 100%, 40%, 1);

// Fonts

$fontFancy: "Satisfy";

// Sizes

$fontSizeBase: 16px;
$screenSizeSM: 640px; // Mobile
$screenSizeMD: 768px; // Tablet
$screenSizeLG: 1024px; // Small Desktop
$screenSizeXL: 1280px; // Large Desktop