* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: $fontSizeBase;
}

h1, h2, h3, h4, h5, h6, p, li {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  display: inline-block;
  width: 250px;
  max-width: 100%;
}