// Colors

$colorLight: #FAFAFA;
$colorDark: #303030;
$colorPrimary: #64A064;

// Fonts

$fontFancy: "Satisfy";

// Sizes

$fontSizeBase: 16px;
$screenSizeSM: 640px; // Mobile
$screenSizeMD: 768px; // Tablet
$screenSizeLG: 1024px; // Small Desktop
$screenSizeXL: 1280px; // Large Desktop