/* Element Styles */

:root {
  --text:   hsl(205 50% 25%);
  --accent: hsl(0   50% 45%);
  --light:  hsl(205 50% 98%);
  --medium: hsl(205 50% 75%);
  --dark:   hsl(205 50% 55%);
  --content-width: 40rem;
  --line-thickness: 2px;
  --radius: 0.5rem;
  /* --image-effects: sepia(15%) drop-shadow(rgb(0 0 0 / 0.5) 0 0 0.75rem); */
  font-size: 20px;
  font-family: 'roboto-mono', monospace;
  font-weight: normal;
  color: var(--text);
  background: var(--light);
}

* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

:first-child { margin-block-start: 0 !important; }
:last-child  {   margin-block-end: 0 !important; }

::selection {
  color: var(--dark);
  background: var(--text);
}

p, ul, ol, img {
  margin-block: 1rem;
}

p, li, th, td {
  font-size: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  line-height: 1.5;
}

h2, h3, h4 {
  margin-block: 4rem 1rem;
}

h1 {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: normal;
  font-family: 'satisfy', sans-serif;
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-weight: normal;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

a:not(h1 > a) {
  border-bottom: var(--line-thickness) solid var(--accent);
}

a:not(h1 > a):hover {
  color: var(--accent);
}

a[href^="http"], a[href^="mailto:"] { /* External Links */
  border-bottom-style: dashed;
}

ul, ol {
  padding: 0;
  list-style-position: inside;
}

th, strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

code {
  padding-inline: 0.25rem;
  font-family: inherit;
  color: var(--dark);
  background: var(--accent);
  border-radius: 0.25rem;
}

img {
  display: block;
  margin: 2rem auto;
  max-width: min(100%, 40rem);
  max-height: min(75vh, 40rem);
  max-height: min(75svh, 40rem);
  user-select: none;
  border-radius: var(--radius);
  filter: var(--image-effects);
}

hr {
  margin: 4rem auto;
  width: 100%;
  height: var(--line-thickness);
  border: none;
  outline: none;
  background: var(--text);
}

table, th, td {
  border-collapse: collapse;
}

table {
  width: 100%;
  margin-block: 2rem;
  background: var(--medium);
  border: var(--line-thickness) solid var(--text);
}

th, td {
  padding: 0.5rem;
  border: var(--line-thickness) solid var(--text);
}

blockquote {
  margin-block: 2rem;
  padding: 1rem;
  background: var(--medium);
  border-radius: var(--radius);
  border: var(--line-thickness) solid var(--text);
}

/* Layout */

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100svh;
}

body {
  display: flex;
  flex-direction: column;
}

section {
  max-width: var(--content-width);
  margin-inline: auto;
}

header {
  padding: 1rem;
  background: var(--medium);
}

article {
  flex: 1;
  padding: 4rem 1rem;
}

footer {
  padding: 1rem;
  background: var(--dark);
}

/* Utility Classes */

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

/* Specific Styles */

img[alt="hero"] {
  border-radius: 50%;
}
