/* Element Styles */

:root {
  --main:       hsl(205, 75%, 35%);
  --link:       var(--main);
  --text:       hsl(205 0% 100%);
  --background: hsl(205 50% 25%);
  --bg-alt:     hsl(205 50% 15%);
  --content-width: 50rem;
  --line-thickness: 2px;
  --shadow: drop-shadow(rgb(0 0 0 / 0.25) 0 0 0.5rem);
  font-size: 20px;
  font-family: 'roboto-mono', monospace;
  color: var(--text);
  background-color: var(--background);
}

* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

:first-child {
  margin-block-start: 0 !important;
}

:last-child {
  margin-block-end: 0 !important;
}

::selection {
  background: var(--main);
}

h1, h2, h3, h4, p, ul, table, pre {
  margin-block: 2rem;
}

h1, h2, h3, h4 {
  line-height: 1;
}

p, li, th, td {
  line-height: 1.75;
}

h1, h2, h3, h4 {
  letter-spacing: 1px;
  font-weight: normal;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
  text-indent: 1rem;
}

h4 {
  font-size: 1.25rem;
  text-indent: 2rem;
}

p, li, th, td {
  font-size: 1rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  border-bottom: var(--line-thickness) solid var(--link);
}

a:hover {
  color: var(--link);
}

h1 a {
  border: none;
}

ul, ol {
  padding: 0;
  list-style-position: inside;
}

th, strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

code {
  display: inline-block;
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  font-family: inherit;
  color: var(--text);
  background: var(--main);
}

img {
  display: block;
  margin-inline: auto;
  max-width: min(100%, 40rem);
  max-height: min(75vh, 40rem);
  max-height: min(75svh, 40rem);
  filter: var(--shadow);
  user-select: none;
}

hr {
  margin-inline: auto;
  margin-block: 2rem;
  width: 100%;
  height: var(--line-thickness);
  border: none;
  outline: none;
  background: var(--main);
}

table, th, td {
  border-collapse: collapse;
}

table {
  width: 100%;
  border: var(--line-thickness) solid var(--text);
  background: var(--background);
}

th, td {
  padding: 0.5rem;
  border: var(--line-thickness) dashed var(--text);
}

th {
  color: var(--main);
}

blockquote {
  padding: 1rem;
  border: var(--line-thickness) solid var(--text);
  background: var(--background);
}

/* Layout */

html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100svh;
}

header, article, footer {
  padding: 2rem 1rem;
}

section {
  max-width: var(--content-width);
  margin-inline: auto;
}

header {
  padding: 1rem;
}

article {
  padding: 4rem 1rem;
  flex: 1;
}

footer {
  padding: 2rem 1rem;
  background: var(--bg-alt);
}

/* Utility Classes */

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-fancy { font-family: 'satisfy'; }

/* Specific Styles */

img[alt="hero"] {
  max-width: 10rem;
  border-radius: 100%;
}

/* Print Rules */

@media print {
  :root {
    --text: black;
    --link: black;
  }

  html, body {
    color: black;
    background: white;
  }

  h1, h2, h3, h4 {
    color: var(--main);
  }

  p, li, th, td {
    font-weight: normal;
    color: var(--text);
  }

  footer, hr, img {
    display: none;
  }
}
